body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user{
  color: black;
}

li{
  list-style-type: none;
}

p{
  margin: 0;
}

ul{
  padding: 0;
}

.userName{
  border: 1px solid black;
  background: red;
  width: 160px;
  padding: 5px 80px;
}

.taskName{
  border: 1px solid black;
  width: 280px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.userlist{
  display: flex;
  justify-content: space-around;
}

.arrow{
  cursor: pointer;
}